Supervisor_Agent/Content_Creator_Agent.json
{
  "name": "🤖Content Creator Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f902f413-4361-49e2-87e8-7cd747db615a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        160
      ],
      "id": "0bb14baf-7c9e-42c4-923c-b04c5a1bdff3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oYDjoMHxEBfhqqXb",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are an expert content writer.\nCreate SEO friendly posts, articles,etc. based on user's query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "6d1ad1a3-629a-4389-8636-08e9ca0457ca",
      "name": "Content creator"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Generate 10 unique title ideas for a Youtube tutorial on building AI agents in n8n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content creator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c2d8c2d-edb1-4875-b531-cb5dd52f43ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cd4aa468c9329fbeb04557473e474f93628c2d11446948a2f243e4da9d428a4"
  },
  "id": "a7qKrTesEqZbBZzD",
  "tags": []
}