RAG/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16x_aqjAAm44PMk6RBpsNjmod7QmOpTRn",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16x_aqjAAm44PMk6RBpsNjmod7QmOpTRn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f741f661-b87c-4c52-ae3e-ede13c1a1eb3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E8w3ZU9sDzuaFCLl",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "a93b8b45-ca67-4273-a06b-1042412d691e",
      "name": "Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "E8w3ZU9sDzuaFCLl",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "68f3f575-0eec-4ead-89f0-bec951db57a9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "SqIzo5lNsLI25K7E",
          "name": "n8n-workflow"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "b0656ee3-a848-43c6-b742-e6760434d73c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        500,
        360
      ],
      "id": "3b3f0085-41d2-478d-8365-f177ed719b8d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "id": "ae4b3246-2fdb-4675-b7ce-ed935ee40ae6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ],
      "id": "393db720-f2c0-47fe-bcd4-448b7223e612",
      "name": "When chat message received",
      "webhookId": "044d629b-9794-4d1f-bd7a-33a49963ab94"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "KnowledgeBase",
        "toolDescription": "Call this tool to access the n8n",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ],
      "id": "da275bc2-bc72-4975-b099-6aab7a4e0a62",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "SqIzo5lNsLI25K7E",
          "name": "n8n-workflow"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        420
      ],
      "id": "2921c9f9-06f2-4182-b5dd-9ac340ffc6c3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "sm0AxdgZnTmkz2lG",
          "name": "n8n-Workflow"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        180
      ],
      "id": "748f31cd-a93a-4716-bf42-d555806182e1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "sm0AxdgZnTmkz2lG",
          "name": "n8n-Workflow"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        180
      ],
      "id": "3e9f40d6-0be2-4164-8fe0-43039d53578c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5mcYycBwbpNindCu",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "264b2577-b44f-466d-abf0-0b91003e7491",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e847aea1afbad20bc986fdcca4d73233c1a19e7b9e6c4bff5fd7fc4c14840c"
  },
  "id": "5vG9X7pVlA2TsDZf",
  "tags": []
}